*{
	margin: 0;
	padding: 0;
}
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/
.container{
	width: 1140px;
	margin: 0 auto;
}
a,a:hover{
	text-decoration: none;
}
header{
	position: absolute;
	width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}
.logo img{

}
.top-contact{
	vertical-align: middle;
}
.top-contact img{
	vertical-align: middle;
}
.top-contact span{
   font-family: 'Montserrat', sans-serif;
   color: #3d2514;
   font-weight: bold;
   margin-left: 16px;
   vertical-align: middle;
}
.menu{
	text-align: right;
}
.menu-item{
	        margin-top: 16px;
}
.menu-item ul li{
	display: inline-block;
    list-style: none;
}
.menu-item ul li a{
	text-transform: uppercase;
    margin-left: 26px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: #3d2514;
    font-size: 21px;
    letter-spacing: 3px;
}
/*************************
     banner section css
***************************/
.banner{
	width: 100%;
	background: url(../img/backround-imgggggg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.content{
   display: flex;
}
.content-left{
	flex-basis: 50%;
}
.inner{
	height: 100vh;
    display: table-cell;
    vertical-align: middle;
}
.inner span{
	font-family: 'Bebas Neue', cursive;
    border: 2px dashed #3d2514;
    padding: 8px;
    color: #3d2514;
}
.inner h1{
    font-size: 114px;
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 3px white;
}
.inner h2{
	font-size: 56px;
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 3px white;
    letter-spacing: 1px;  
}
.content-right{
	flex-basis: 50%;
}
.content-right img{
	     width: 750px;
	     margin-top: 80px;
}
/*************************
     burgers section css
***************************/
.burgers{
	width: 100%;
	padding: 80px 0;
}
.gallery{
	display: flex;

}
.gallery img{
	max-width: 100%;
}
.g-left{
	flex-basis: 50%;
	margin: 22px;
}
.g-right{
	flex-basis: 50%;
	margin: 22px;
}
.item{
	position: relative;
	margin-bottom: 30px;
}
.item-text{
	position: absolute;
	top: 20px;
    left: 20px;
}
.item-text h3{
	font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.item-text h1{
	font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 42px;
    color: white;
}
.g-button{
	text-align: center;
	margin-top: 24px;

}

.g-button button{
	background: #ffc045;
	color: #3d2514;
	font-size: 18px;
    text-transform: uppercase;
    padding: 16px 42px;
    border: none;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
}
.g-button button:hover{
	color:#bf2222;
	transform: scale(1.1);
    transition: 0.5s;
}

/*****************************
 burgers catagory section css
******************************/
.burger-cat{
	width: 100%;
	padding: 0px 0px 80px 0;
}
.cat-text{
	text-align: center;
}
.cat-text h1{
    font-size: 56px;
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 3px white;
}
.cat-text p{
	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #3d2514;    
}
.catagory{
	display: flex;
    margin-top: 42px;
}
.catagory img{
	width: 100%;
}
.cat-item h1{
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
	font-size: 42px;
	margin-bottom: 16px;
	text-align: center;
}
.cat-item p{
	font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	margin-bottom: 22px;
	text-align: center;
}
.cat-item button{
	font-family: 'Alfa Slab One', cursive;
	color: white;
	background: #bf2222;
	padding: 16px 42px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 90px;
	cursor: pointer;
}
.cat-item button:hover{
	color: #fcb943;
	transform: scale(1.1);
    transition: 0.5s;  
}
/*****************************
 burgers slaider section css
******************************/
.b-slider{
	width: 100%;
	padding-bottom: 80px;
}
.slider-main{
	display: flex;
	padding: 32px;
    box-shadow: 10px 10px 30px 0px rgb(0 0 0 / 20%);
}
.slider-img {
	flex-basis: 50%;
}
.slider-img img{
	width: 100%;
}
.slider-content{
	padding: 70px 24px;
	flex-basis: 50%;
}
.slider-content h3{
	font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    font-size: 30px;
    text-transform: uppercase;
}
.slider-content h1{
	font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
	font-size: 42px;
	text-transform: uppercase;
}
.slider-content p{
	font-family: 'Montserrat', sans-serif;
    color: #3d2514;
	margin-bottom: 16px;
}
/*****************************
 book table section css
******************************/


.contact-form {
    background: url(../img/form-img000.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 80px 0px;
    text-align: center;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.book-form {
    width: 60%;
    margin: 0px auto;
}
.book-form h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    color: #3d2514;
}
.book-form h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    color: #3d2514;
}
.box {
    display: flex;
    margin-top: 80px;
}
.form-1 {
    flex-basis: 50%;
}
input {
    width: 75%;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #3d2514;
    margin-bottom: 30px;
}
.form-2 {
    flex-basis: 50%;
}
.submit {
    width: 87%;
    background: #bf2222;
    color: white;
    border: none;
    font-family: 'Alfa Slab One', cursive;
}
/*****************************
 footer section css
******************************/
 .footer {
    width: 100%;
    background: url(../img/fotterimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.left-footer1 {
    margin-top: 50px;
}
.left-footer1 p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 250px;
    line-height: 23px;
    margin-top: 40px;
}
.right-footer1 {
   margin-top: 220px;
}
.right1-up {
    margin-bottom: 10px;
}
.right-footer1 i {
    color: white;
    font-size: 21px;
    margin-right: 5px;
}
.right-footer1 span {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
}
.down {
    display: flex;
    justify-content: space-between;
}
.copyright {
    padding-bottom: 20px;
}
.copyright p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.social-icon {
    padding-bottom: 20px;
}
.social-icon a i:hover{
	color: #0000cc; 
	transform: scale(2.0);
    transition: 0.5s;  
}

a, a:hover {
    text-decoration: none;
}
.social-icon a i {
    color: black;
    margin: 2px;
    font-size: 13px;
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 50px;
    line-height: 25px;
    text-align: center;
    margin-right: 20px;
}